
<div class="col-lg-12" style="margin-top: 30px;">
  <%= search_form_for [:admin, @search] do |f| %>

    <div class="col-lg-3">
      <%= f.label :payment_status, "Payment Status" %>
      <%= f.select(:payment_status_cd_eq, [ ['pending', '0'], ['paid', '1'] ], {:include_blank => true}, {:class=> 'admin_normal_select'}) %>
    </div>

    <div class="col-lg-3">
      <%= f.label :shipment_status, "Shipment Status" %>
      <%= f.select(:shipment_status_cd_eq, [ ['pending', '0'], ['shipped', '1'] ], {:include_blank => true}, {:class=> 'admin_normal_select'}) %>
    </div>

    <div class="col-lg-3">
      <%= f.label :order_status, "Order Status" %>
      <%= f.select(:order_status_cd_eq, [ ['pending', '0'], ['Approved', '1'], ['canceled','2'] ], {:include_blank => true}, {:class=> 'admin_normal_select'}) %>
    </div>


      <div class="col-lg-3" style="margin-top: 30px;">
        <%= f.submit "Search", class: "btn btn-success btn-submit" %>
      </div>

  <% end %>
</div>

<div class="col-lg-12" style="margin-top: 30px;">
  <div class="cardboard">
    <table class="table order_table">
      <thead>
        <tr>
          <th style="width:15%;">Order No.</th>
          <th style="width:15%; text-decoration: underline;"><%= sort_link @search, :created_at, "Date" %></th>
          <th style="width:10%; text-decoration: underline;"><%= sort_link @search, :grand_total_price, "Total" %></th>
          <th style="width:20%;">Payment Method</th>
          <th style="width:10%;">Payment</th>
          <th style="width:10%;">Shipment</th>
          <th style="width:10%;">Order Status</th>
          <th style="width:10%;">Action</th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td style="color: #1d454f; font-weight: bold;"><%= link_to order.number, admin_order_manage_order_path(order) %></td>
            <td><%= order.created_at.localtime.strftime('%d %b %Y %H:%M')%></td>
            <td><%= number_to_currency(order.grand_total_price, unit: "RM") %></td>
            <td><%=order.pay_type%></td>
            <td><span><%=order.payment_status.capitalize %></span></td>
            <td><span><%=order.shipment_status.capitalize %></span></td>
            <td><span><%=order.order_status.capitalize %></span></td>
            <td class="glyph" style="width: 10%;">
            <%= link_to [:admin, :order, :manage, order] do %>
              <i class="btn btn-success glyphicon glyphicon-book"></i>
            <% end %>

            <%= link_to admin_order_remove_path(order), :method => :put, data: { confirm: 'Are you sure?' } do %>
              <i class="btn btn-danger glyphicon glyphicon-remove"></i>
            <% end %>
            </td>
            <% end %>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<%= will_paginate %>