
<% provide(:title, Order) %>
<div class="order_form">
	<div class="container">
		<div class="col-lg-5 col-md-6 col-xs-12">
			<div class ="order_cart">  
				<p class="cart_title"> Order Summary </p> 
				<table class="table">
		  			<% @cart.line_items.each do |item| %>
						<tr >
						  <td style = "width: 20%;" class="order_images">
							<% if item.variant.images.any? %>
							  <%= image_tag(item.variant.images.first.image_url) %>
						    <% else %>
						      <% if Product.find(item.variant.product_id).images.any? %>
						      	<%= image_tag(Product.find(item.variant.product_id).images.first.image_url) %>
						      <% else %>
							  	<%= image_tag("img2.png", alt: "Upload Image Here!")%>
							  <% end %>
						    <%end%>							
						  </td>

						  <td class="mid_column" style = "width: 50%; ">
							<span class="item_title"><%=link_to Product.find(item.variant.product_id).title, product_path(Product.find(item.variant.product_id).number) %> </span>
							<span class="option_types_cart" style="width: 100%;">
								<% item.variant.option_values.each do |cot| %> 
									<ul>
								    	<li> <%= cot.presentation %> </li>
									</ul>
								<%end%>
							</span>
						  </td>

						  <td class="order_item_price" style = "width: 30%;">
						    <span class="grand_total"> <%= number_to_currency(item.total_price, unit: "RM") %></span>
						    <span class="order_quantity"><%= number_to_currency(item.variant.price, unit: "RM") %> &times; <%= item.quantity %> </span>
						  </td>
		    			</tr> 
	     			 <% end %>

	          		<tr class="total_order">
	          		  <td></td>
			          <td class="grand_total">Total (RM)</td>
				      <td  class="grand_number" id= "product_t"><%= number_to_currency(@cart.total_price, unit: "") %></td>
				    </tr>

	          		<tr class="total_order">
			          <td></td>
			          <td class="grand_total">Delivery (RM)</td>
				      <td  class="grand_number delivery" id= "delivery_c"><%= number_to_currency(@cart.delivery, unit: "") %></td>
				    </tr>

		            <tr class="total_order">
		          	  <td></td>
		          	  <td class="grand_total">Grand Total (RM)</td>
			          <td  class="grand_number total_p" id= "total_p"><%= number_to_currency(@cart.grand_total, unit: "") %></td>
			        </tr>
	            </table>
			</div>

			<div class="refund_order">
				<div class="left">
					<i class="fa fa-lock"></i>
				</div>

				<div class="right">
					<span>Your online payment is secured!</span> <br>
					<span>COD payment option is only available at Klang Valley (KL and Selangor) only. Click 
					<%= link_to "HERE", payment_path, target: :_blank %> for more payment information!</span>
				</div>
			</div>
		</div>


		<div class="spinner">
		  <div class="rect1"></div>
		  <div class="rect2"></div>
		  <div class="rect3"></div>
		  <div class="rect4"></div>
		  <div class="rect5"></div>
		</div>

		<div id="loading"></div>

		<div class=" col-lg-6 col-md-6 col-xs-12">
			<div class="order_fill">
				<p class="order_title">Please Enter Your Details: </p>

		      	<%= render "shared/error_messages", :target => @order %>
				<%= form_for @order, :html => {multipart:true}, url: order_create_path do |f| %>

					<div class="order_fill_1">

					    <%= f.label :name %><br>
					    <%= f.text_field :name, size: 40, class: 'form-control' %>

					    <%= f.label :contact_number, 'Contact Number' %><br>
					    <%= f.text_field :contact_number, size: 40, class: 'form-control' %>
					
					    <%= f.label :address %><br>
					    <%= f.text_area :address, rows: 3, cols: 40, class: 'form-control' %>

					    <%= f.label :states, 'State' %><br>
					    <%= f.select :states, options_for_select(states), {prompt: 'Select a state'}, :onchange=> 'update_delivery()' %>

					    <div style="visibility: hidden; position:absolute;">       
						    <%= f.label :pay_type %><br>
						    <%= f.select :pay_type, Order::PAYMENT_TYPES, {:include_blank => true}, :onchange=> 'update_selection()' %>
						</div>

						<br>
						<br>

						<%= f.label :pay_type %><br>
							<div class="selection_pay_box_restruct">
						</div>
					</div>
 			
 					<br>
    				<%= f.submit 'Place Order', class:"submit_button" %>

				<% end %>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
  	$('div#footer').remove();
  });
</script>






