<div  class=" order_sum" style= "font-family: calibri; text-align: center; color: #000;">

<p> Hi <%= @order.name %>, </p>

<p> Thanks for your order! <br>
Your Order Number <span class="order_no"><%= @order.number %></span> is currently in processing. <br>
Below are the summary of this order: </p>

	<table style="border-collapse: collapse !important; margin: auto;">
	  <thead style="background-color: #ffc820 ; color: #fff; ">
        <tr >
          <th style="width: 150px; text-align: center; padding-top:7px; padding-bottom:7px;">Item</th>
          <th style="width: 150px;"></th>
          <th style="width: 150px; text-align: center; padding-top:7px; padding-bottom:7px;">Subtotal Price</th>
        </tr>
      </thead>
	
      <tbody>
        <% @order.line_items.each do |item| %>
          <tr>
          	<td> 
          		<% if item.variant.images.blank? %>
			      <% if Product.find_by(id: item.variant.product_id).images.any? %>
			      	<%= image_tag(Product.find_by(id: item.variant.product_id).images.first.image_url, style: "height: 120px; width: 120px;") %>
			      <% else %>
          			<%= image_tag("http://res.cloudinary.com/dvmad09wh/image/upload/v1507308285/img2_gxalse.jpg", alt: "noimage", style: "height: 120px; width: 120px;") %>
          		  <%end%>
          		<% else %>
          			<%= image_tag(item.variant.images.first.image_url, :style => "height: 120px; width: 120px;") %>
          		<% end %>
          	</td>
            <td style="text-align: left; float: left; padding-top: 10px;"><span style="color:#1e98b2;"><%=item.variant.SKU %></span><br>
            	Quantity: <%= item.quantity %><br>
            	Unit Price: <span style="font-weight:bold"><%= number_to_currency(item.final_price, unit:"RM") %> </span></td>
            <td style="color:#000; text-align: center; padding-top:7px; padding-bottom:7px; vertical-align: top; font-weight: bold;"><%= number_to_currency(item.total_final_price, unit:"RM") %>
            	</td>
    	    </tr>
    	  <% end %>

          <tr style="background-color: #f9f9ed; ">
       		  <td class="total_cell" colspan="2" style="color:#000; text-align: right; padding-right: 10px; padding-top:7px; padding-bottom:7px; font-weight: bold;"><%= "#{@order.pay_type}" %> (<%= @order.states %>) </td>
      	      <td class="total_cell" style="color:#000; text-align: center; padding-top:7px; padding-bottom:7px; font-weight: bold;"><%= number_to_currency(@order.delivery_cost, unit: "RM") %></td>
      	  </tr>

          <tr style="background-color: #f2f2f2; ">
       		  <td class="total_cell" colspan="2" style="color:#000; text-align: right; padding-right: 10px; padding-top:7px; padding-bottom:7px; font-weight: bold;">Total</td>
      	      <td class="total_cell" style="color:#000; text-align: center; padding-top:7px; padding-bottom:7px; font-weight: bold;"><%= number_to_currency(@order.total_price, unit: "RM") %></td>
      	  </tr>
      </tbody>
    </table>

   <span style="color:#000;">
   <p> Following are the payment procedure: </p>
		<div style="padding-left: 20px;
				padding-right: 30px;
				overflow: hidden;
				display: inline-block;
				border: 1px solid #cad0cf;
				border-radius: 15px;">

   <% if @order.pay_type == "Bank-in (Delivery)" %>

			<p style="font-size: 1.4em;
					  text-decoration: underline;"> Payment Method: Bank-in (Delivery)</p><br/>

				<div style="display: block;
							width: 100%;
							overflow: hidden;
							margin-bottom: 30px;">

					<%= image_tag("http://res.cloudinary.com/dvmad09wh/image/upload/v1507308004/cod1st_jz8nks.png", alt: "COD", style: "height: 100px; width: 100px; display: inline-block; float: left; margin-bottom:15px;") %>

					<span style="display: inline-block;
								 width: 250px;
								 padding-left: 15px;
								 vertical-align: middle;"> 
					We will contact you shortly for bank-in details. The following is your order number: <br>
					Ref.<span style="font-weight: bold; margin-left:16px;"> : <%= @order.number %> (order number)</span> <br>
					</span>
				</div>

				<div style="display: block;
							width: 100%;
							overflow: hidden;
							margin-bottom: 30px;">
					<%= image_tag("http://res.cloudinary.com/dvmad09wh/image/upload/v1507308009/bi13_xyphxa.png", alt: "COD", style: "height: 100px; width: 100px; display: inline-block; float: left; margin-bottom:15px;") %>
					<span style="display: inline-block;								 	
								 width: 250px;
								 padding-left: 15px;
								 vertical-align: middle;"> 
					Once payment is confirmed, item will be shipped out to buyer's designated address. Return/refund or any further assistance needed please contact us from Whatsapp or this email chain, thanks!
					</span>
			</div>



   <% elsif @order.pay_type == "Cash on Delivery (COD)" %>
			<p style="font-size: 1.4em;
					  text-decoration: underline;"> Payment Method: Cash On Delivery (COD) </p><br/>

				<div style="display: block;
							width: 100%;
							overflow: hidden;
							margin-bottom: 30px;">
					<%= image_tag("http://res.cloudinary.com/dvmad09wh/image/upload/v1507308004/cod1st_jz8nks.png", alt: "Bank in", style: "height: 100px; width: 100px; display: inline-block; float: left; margin-bottom:15px;") %>
					<span style="display: inline-block;
								 width: 250px;
								 padding-left: 15px;
								 vertical-align: middle;">
			We will Whatsapp and email you to communicate COD location. COD location are as followed or within Klang Valley: <br>
			<i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp;<a href="https://www.google.com/maps/dir/''/Publika+Shopping+Gallery,+1,+Jalan+Dutamas+1,+Solaris+Dutamas,+50480+Kuala+Lumpur,+Federal+Territory+of+Kuala+Lumpur/data=!4m5!4m4!1m0!1m2!1m1!1s0x31cc485e0e965a21:0xd5fc2d7f9da12334?sa=X&ved=0ahUKEwj7u87qxozZAhVEMY8KHTyaBEQQiBMITjAA">Publika</a><br>
			<i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp;<a href="https://www.google.com/maps/dir/''/mytown+cheras/data=!4m5!4m4!1m0!1m2!1m1!1s0x31cc363dccb07b07:0x959c26a50325031d?sa=X&ved=0ahUKEwjYkJ-ix4zZAhUHPI8KHRCsD0oQ9RcIkAEwEA">MyTown, Cheras</a><br>
			<i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp;<span style="font-style: italic;">Other KV Area</span>
					</span>
				</div>


				<div style="display: block;
							width: 100%;
							overflow: hidden;
							margin-bottom: 30px;">
					<%= image_tag("http://res.cloudinary.com/dvmad09wh/image/upload/v1507308008/cod3_mbnu1i.png", alt: "Bank in", style: "height: 100px; width: 100px; display: inline-block; float: left; margin-bottom:15px;") %>
					<span style="display: inline-block;
								 width: 250px;
								 padding-left: 15px;
								 vertical-align: middle;">
						Meet at designated location. Inspection by buyer and cash transaction once buyer satisfied with the product. Return/refund or any further assistance needed please contact us from Whatsapp of this email chain, thanks!
					</span>
				</div>
			
		<% elsif @order.pay_type == "Paypal" %>
			<p style="font-size: 1.4em;
					  text-decoration: underline;"> Payment Method: Paypal </p>
			<p>Transaction ID:<br> <%= @order.paypal_transaction_id %> </p>
			<p>Transaction Status:<br> <%=  @order.payment_remarks %> </p>
   <% end %>
   </div>



    
    <p> We will update you as soon we processed the order. <br>
	thanks! </p>
   	<br> 

    <p> Sincerely From, <br>
    Teesprit Malaysia <br>
	teesprit20@gmail.com</p>
    </span>
   </div>



<style type="text/css">


	table {
		border-collapse: collapse !important;
		font-size: 14px !important;
	}

	th {
		padding: 7px 1px 7px 1px;
		text-align: center;
	}

	td {
		padding: 7px 1px 7px 1px;
		text-align: center;
	}

	.codcon,
	.bicon {
		height: 100px;
		width: 100px;
		display: inline-block;
		float: left;
	}

	.cod,
	.bi {
		padding-left: 20px;
		padding-right: 30px;
		overflow: hidden;
		display: inline-block;
		border: 1px solid #cad0cf;
		border-radius: 15px;
	}

	.cod1des,
	.bi1des {
		display: inline-block;
		float: left;	
		width: 250px;
		padding-left: 15px;
		vertical-align: middle;
	}

	.creamy {
		display: block;
		width: 100%;
		overflow: hidden;
		margin-bottom: 30px;
	}

	.titlecod,
	.titlebi {
		font-size: 1.4em;
		text-decoration: underline;
	}


</style>

