
<div class ="header_cart">
	<% if @cart.line_items.empty? %>
		<p class="header_cart_title"> </p>
		<p class="empty_header_cart"> Your Cart is Empty! Start shopping <%= link_to "HERE!", store_url, class: "here" %> </p>
	<% else %>
		<%= render partial: "layouts/header_cart_content" %>
	<% end %>
</div>

<div class="header_cart_total">
	<%= render partial: "layouts/header_cart_in_total" %>
</div>

<div class="header_cart_action">
	<div><%= link_to "my cart", cart_path, class: "go_cart"%></div>
	<div><%= link_to "Checkout", new_order_path, method: :get, class: "cart_header_checkout_button" %></div>
</div>
